:root{
  --color-black: #000000;
  --color-darkest-gray: #252525;
  --color-dark-gray: #333333;
  --color-light-gray: #898989;
  --color-lightest-gray: #CCCCCC;
  --color-dark-blue: #617685;
  --color-blue: #6C8EA9;
  --color-white: #FFFFFF;
  --center-txt: center;
  --right-txt: right;
  --left-txt: left;
  --txt-decoration-none: none;
  --border-none: none;
  --border-radius-none: none;
  --border-radius-circle: 50%;
  --outline-black: 1px solid #000000;
  --outline-darkest-gray: 1px solid #252525;
  --outline-dark-gray: 1px solid #333333;
  --outline-light-gray: 1px solid #898989;
  --outline-lightest-gray: 1px solid #CCCCCC;
  --outline-dark-blue: 1px solid #617685;
  --outline-blue: 1px solid #6C8EA9;
  --center-object: auto;
  --img-width-auto: auto;
  --txt-small: 12px;
  --section-padding-top: 50px;
  --section-padding-bottom: 70px;
  --button-margin-left: 8px; 
  --button-margin-right: 8px;
  --position-relative: relative; 
  --position-absolute: absolute;
  --link-padding: 8px 10px; 
  --footer-padding: 15px 0px; 
}

a{
  text-decoration: var(--txt-decoration-none) !important;
}

.card-body{
  padding: 10px 0px;
}

.margin-card{
  margin: 5px 8px;
}

.card-title{
  font-size: 13px;
}

.img-height-card{
  height: 120px;
}

p{
  font-size: var(--txt-small);
  color: var(--color-light-gray);
}

.product-txt-overflow{
  white-space: wrap;
  height: 50px;
  overflow: hidden;
}

/* HEADER */

header{
  background-color: var(--color-blue);
}

header nav div{
  margin: var(--center-object);
}

header nav div h2{
  color: var(--color-white);
}

header .nav-item{
  margin-right: var(--button-margin-right);
  margin-left: var(--button-margin-left);
}

header a{
  color: var(--color-white);
}

header a:hover{
  color: var(--color-lightest-gray);
}

/* LOGIN */

#IdLogin{
  text-align: var(--right-txt);
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}

#IdLogin button{
  margin-left: var(--button-margin-left);
}

/* MY PROFILE */

#IdMyProfile{
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}

#IdMyProfile a{
  margin-right: var(--button-margin-right);
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: var(--link-padding);
}

#IdMyProfile a:hover{
  margin-right: var(--button-margin-right);
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  padding: var(--link-padding);
}

/* PATCH PROFILE */

#IdPatchProfile button{
  margin-right: var(--button-margin-right);
}

/* DELETE PROFILE */

#IdDeleteProfile{
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}

#IdDeleteProfile button{
  margin-right: var(--button-margin-right);
}

/* SIGN UP */

#IdNewUser{
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}

#IdNewUser button{
  margin-right: var(--button-margin-right);
}

/* LOG OUT */

#IdLogOut{
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  text-align: var(--right-txt);
}

#IdLogOut h4{
  text-align: var(--left-txt);
}

#IdLogOut button{
  margin-left: var(--button-margin-left);
}

/* CAROUSEL */

#IdCarousel{
  position: var(--position-relative);
}

#IdCarousel p{
  position: var(--position-absolute);
  top: 45%;
  width: 100%;
  text-align: var(--center-txt);
  color: var(--color-white);
  z-index: 10;
  font-size: 45px;
}

/* WE CREATE */

#IdWeCreate{
  text-align: var(--center-txt);
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}

#IdWeCreate div{
  border: var(--border-none);
}

#IdWeCreate div img{
  border-radius: var(--border-radius-circle);
  width: var(--img-width-auto);
}

/* NEWS LETTER */

#IdNewsLetter{
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  background-image: url(./images/newsletterbg.jpg);
  background-repeat: no-repeat;
}

#IdNewsLetter h4{
  color: var(--color-white);
}

#IdNewsLetter p{
  color: var(--color-white);
}

#IdNewsLetter button{
  border-radius: var(--border-radius-none);
  background-color: var(--color-dark-blue);
  background-position: center;

}

/* MOST RECENT */

#IdMostRecent{
  text-align: var(--center-txt);
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}

#IdMostRecent img{
  border-radius: var(--border-radius-none);
}

#IdMostRecent div{
  border: var(--border-none);
}

#IdMostRecent a{
  color: var(--color-black);
  outline: var(--outline-black);
}

#IdMostRecent a:hover{
  color: var(--color-light-gray);
  outline: var(--outline-light-gray);
}

/* PRODUCTS */

#IdProducts{
  text-align: var(--center-txt);
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}

#IdProducts div{
  border: var(--border-none);
}

#IdProducts .accordion-btn{
  text-align: var(--right-txt);
  width: 100%;
}

#IdProducts a{
  color: var(--color-black);
  outline: var(--outline-black);
}

#IdProducts a:hover{
  color: var(--color-light-gray);
  outline: var(--outline-light-gray);
}

/* THE PRODUCT */

#IdTheProduct{
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}

#IdTheProduct img{
  width: var(--img-width-auto);
}

/* KONTACT */

#IdKontact{
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  text-align: var(--center-txt);
}

#IdKontact div div p{
  text-align: var(--left-txt);
}

#IdKontact div div{
  text-align: var(--right-txt);
}

#IdKontact button{
  border-radius: var(--border-radius-none);
  background-color: var(--color-dark-blue);
}

/* SEARCH RESULTS */

#IdSearchResult{
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  text-align: var(--center-txt);
}

#IdSearchResult .card{
  border: var(--border-none);
}

#IdSearchResult a{
  color: var(--color-black);
  outline: var(--outline-black);
}

/* FOOTER */
footer{
  text-align: var(--center-txt);
  position: var(--position-relative);
}

#IdSearch{
  width: 100%;
}

#IdSearch form{
  position: var(--position-absolute);
  bottom: 85px;
  right: 0;
}

#IdToTopBtn{
  background-color: var(--color-lightest-gray);
  color: var(--color-darkest-gray);
  padding: 6px 12px;
  border-radius: 55px;
  font-size: 20px;
}

#IdToTopBtn:hover{
  background-color: var(--color-darkest-gray);
  color: var(--color-lightest-gray);
}

footer h4{
  color: var(--color-white);
}

#IdCopyright{
  background-color: var(--color-darkest-gray);
  padding: var(--footer-padding);
}

#IdCopyright p{
  color: var(--color-light-gray);
  margin: var(--center-object);
  font-size: var(--txt-small);
}

#IdSignOff{
  background-color: var(--color-dark-gray);
  padding: var(--footer-padding);
}

#IdSignOff p{
  color: var(--color-light-gray);
  margin: var(--center-object);
  font-size: var(--txt-small);
}
