.bg-dark-gray{
  background-color: #333333;
}

.bg-darkest-gray{
  background-color: #252525;
}

.txt-light-gray{
  color: #898989;
}

.center{
  margin: auto;
}

p{
  color: #000000;
}

.row{
  margin: 10px 8px;
}

.margin-card{
  margin: 5px 8px;
}

.img-height-card{
  height: 120px;
}

footer div{
  padding: 10px 0px;
}

footer a{
  color: #1a1a1a;
  font-size: 16px;
}

footer a:hover{
  color: #ffffff;
  text-decoration: none;
}